<h1 id="title" class="title"> <b>Applying For</b></h1>
<nb-card style ="font-size: 16px;" status="success"  >
  <nb-card-body>
      <div class="row">
          <div class="col-md-6"> 
            <div class="container">
                <img src="http://mu.admissiondesk.org:5000/front_assets/option/science.jpeg" (click)="onNormal()" alt="Science" style="width:100%">
                <!-- <button nbButton shape="round" outline status="danger"(click)="onNormal()" class="btn"  >
                Science
                </button> -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="container">
              <img src="http://mu.admissiondesk.org:5000/front_assets/option/engineer.jpg" (click)="onDTE()" alt="Engineer" style="width:100%">
              <!-- <button nbButton shape="round" outline status="danger"(click)="onDTE()" class="btn" >
                Engineering
              </button> -->
            </div> 
          </div> 
      </div><br>
      <div class="row">
        <div class="col-md-6">
          <div class="container">
            <img (click)="onNormal()" src="http://mu.admissiondesk.org:5000/front_assets/option/commerce.jpg" alt="Commerce" style="width:100%">
            <!-- <button nbButton shape="round" outline status="danger"(click)="onNormal()" class="btn"  >
                Commerce
            </button> -->
          </div>
        </div>
        <div class="col-lg-6">
          <div class="container">
            <img src="http://mu.admissiondesk.org:5000/front_assets/option/Technology.jpg" alt="Technology" (click)="onDTE()" style="width:100%">
            <!-- <button nbButton shape="round" outline status="danger"(click)="onDTE()" class="btn" >
              Technology
            </button> -->
          </div> 
        </div>
      </div><br> 
      <div class="row">
        <div class="col-lg-6"> 
          <div class="container">
            <img src="http://mu.admissiondesk.org:5000/front_assets/option/arts.png"  (click)="onNormal()" alt="Arts" style="width:100%">
            <!-- <button nbButton shape="round" outline status="danger"(click)="onNormal()" class="btn"  >
                Arts
            </button> -->
          </div>
        </div>
        <div class="col-lg-6">
          <div class="container">
              <img src="http://mu.admissiondesk.org:5000/front_assets/option/education.jpg" (click)="onDTE()" alt="Education" style="width:100%">
              <!-- <button nbButton shape="round" outline status="danger"(click)="onDTE()" class="btn" >
                BRIC Programme
              </button> -->
          </div> 
        </div>   
        <!-- <div class="col-lg-6">
          <div class="container">
              <img src="http://mu.admissiondesk.org:5555/front_assets/option/pharmacy.png" (click)="onDTE()" alt="Snow" style="width:100%">
              <button nbButton shape="round" outline status="danger"(click)="onDTE()" class="btn" >
                  Pharmacy
              </button> 
          </div> 
        </div> -->
      </div><br>
      <div class="row">
        <div class="col-lg-6"> 
          <div class="container">
            <img src="http://mu.admissiondesk.org:5000/front_assets/option/psychology.jpg" (click)="onNormal()" alt="Psychology" style="width:100%">
            <!-- <button nbButton shape="round" outline status="danger"(click)="onNormal()" class="btn"  >
                Psychology
            </button> -->
          </div>
        </div>
        <div class="col-lg-6">
          <div class="container">
            <img src="http://mu.admissiondesk.org:5000/front_assets/option/management.jpg"  (click)="onDTE()" alt="Management" style="width:100%">
            <!-- <button nbButton shape="round" outline status="danger"(click)="onDTE()" class="btn" >
                Management
            </button> -->
          </div> 
        </div>  
      </div><br>
      <div class="row">
          <div class="col-lg-6">
            <div class="container">
              <img src="http://mu.admissiondesk.org:5000/front_assets/option/law.jpg"  (click)="onDTE()" alt="Law" style="width:100%">
              <!-- <button nbButton shape="round" outline status="danger"(click)="onNormal()" class="btn"  >
                  Sanskrit
              </button> -->
            </div>
          </div>
          <div class="col-lg-6"> 
              <div class="container">
                <img src="http://mu.admissiondesk.org:5000/front_assets/option/sanskrit.jpg"  (click)="onNormal()" alt="Sanskrit" style="width:100%">
                <!-- <button nbButton shape="round" outline status="danger"(click)="onNormal()" class="btn"  >
                    Sanskrit
                </button> -->
              </div>
          </div>
            
      </div>
    </nb-card-body>
  </nb-card>